<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FAVICON ICONS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <!-- CSS file -->
    <link rel="stylesheet"  type="text/css" th:href="@{/css/style.css}">
    <title>Parking Spot Booking</title>
</head>
<body th:style="'background: linear-gradient( rgb(0 14 38  / 70%), rgba(6 26 79 / 48%)),
                url('+ @{/images/bgImage.jpg }+') no-repeat center center/cover; background-attachment:fixed;'">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-light" href="#">Smart Parking Booking</a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" th:style="'background: linear-gradient(to right,  #5f89ff, #9d7bfe)  no-repeat;' ">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/}" aria-current="page">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/dashboard}" aria-current="page">DASHBOARD</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/smart-spots/add-spot}">SMARTSPOTS</a>
                </li>
                <li class="nav-item" th:if="${session.userType == 'VEHICLE_OWNER'}">
                    <a class="nav-link text-dark" th:href="@{/bookingSpot/}">BOOKING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/addon/new}">ADDON SERVICES</a>
                </li>
                <li class="nav-item" th:if="${session.userType == 'VEHICLE_OWNER'}">
                    <a class="nav-link text-dark" th:href="@{/ev-charging/add}">EV CHARGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:if="${session.userIsThere== true}" th:href="@{/logout}">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Booking Form Container -->

<div class="container" style="border-radius:5px;max-width:950px; padding:10px;">
    <div class="main-row" style="border-radius:5px;">
        <!-- Menu Section -->
        <div class="col-md-3 sidebar">
            <h2 class="text-light">Menu</h2>
            <div class="menu-btns">
                <a th:href="@{/smart-spots/add-spot}" class="fw-bold fst-italic">Add new Parking Spot</a>
                <a th:href="@{/smart-spots/search}">Search a Spot</a>
                <a th:href="@{/smart-spots/update-spot}">Update ParkingSpot</a>
                <a th:href="@{/smart-spots/remove}">Delete Spot</a>
            </div>
        </div>

        <!-- Form Section -->
        <div class="col bg-light formSection">
            <h3 class="text-center bg-primary text-light" style="padding:10px; border-radius:5px">Add a Parking Spot</h3>
            <div class="card-body card">
                <!-- Alert Messages -->
                <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

                <form th:action="@{/smart-spots/add-spot/}" th:object="${parkingSpot}" method="post" class="needs-validation">
                    <div class="form-group mb-3">
                        <label for="location">Location:</label>
                        <input class="form-control" type="text" id="location" name="location" placeholder="Enter location name" required />
                    </div>
                    <div class="form-group mb-3">
                        <label for="spotLocation">Spot Location:</label>
                        <input type="text" class="form-control" id="spotLocation" name="spotLocation" placeholder="Enter specific spot location" required />
                    </div>
                    <div class="form-group mb-3">
                        <label for="availability">Availability:</label>
                        <select class="form-control" id="availability" name="availability" required>
                            <option value="" disabled selected>Select availability</option>
                            <option value="Available">Available</option>
                            <option value="Unavailable">Unavailable</option>
                        </select>
                    </div>
                    <div class="form-group mb-3" >
                        <label for="pricePerHour">Price per Hour:</label>
                        <input  class="form-control" type="number" id="pricePerHour" name="pricePerHour" step="0.01" min="0" placeholder="Enter price per hour" required />
                    </div>
                    <div class="form-group mb-3">
                        <label for="spotType">Spot Type:</label>
                        <select id="spotType" name="spotType" class="form-control" required>
                            <option value="" disabled selected>Select Spot Type</option>
                            <option th:value="INDOOR" th:text="'INDOOR'"></option>
                            <option th:value="OUTDOOR" th:text="'OUTDOOR'"></option>
                            <option th:value="EV_SPOT" th:text="'EV_SPOT'"></option>
                        </select>
                        <div class="invalid-feedback">Please select a payment method.</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="additionalInstructions">Additional Instructions:</label>
                        <input type="text" class="form-control" id="additionalInstructions" name="additionalInstructions" placeholder="Enter your additional instructions" required />
                    </div>

                    <button type="submit" class="btn btn-primary btn-block w-100">Add Spot</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="text-center">
    &copy; 2024 All Rights Reserved by Smart Parking Spots
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
